<%= render "layouts/header" %>
<main>
  <section class="py-5 container">
    <div class="row ">
      <div class="col-lg-6 col-md-8">
        <h3>Create a Post To Share</h3>    
        
      </div>
    </div>
  </section>
</main>
<%= render 'layouts/footer' %>
